<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UGC </title>

  <meta name="theme-color" content="#ffffff">

  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="/lib/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">

  <!-- GrowingIO Analytics code version 2.1 -->
  <!-- Copyright 2015-2017 GrowingIO, Inc. More info available at http://www.growingio.com -->

  <script type='text/javascript'>
      !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
      gio('init', '947f7d6664dc34e0', {});

      //custom page code begin here

      //custom page code end here


      gio('send');
  </script>

  <!-- End GrowingIO Analytics code version: 2.1 -->
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
  <video id="video-background" autoplay="" loop="" muted="" poster="/Snapshots/In-The-Clouds.jpg">
    <source src="/MP4/In-The-Clouds.mp4" type="video/mp4">
  </video>
  <section class="main">
    <div class="content">
      <div class="container">
        <div class="content2">
          <h1 style="margin-left: -100px;"> 尊敬的</h1>
          <h2>有鸡粉</h2>
        </div>
        <div>
          <h2>
              爬升颠簸，<br><br>
            <span style="margin-right: -110px;"> 请坐稳扶好。 </span>

          </h2>
          <div class="row" style="padding-top: 112px;">
            <div class="col-sm-6 col-sm-offset-3">
              <p style=" color: #fff;font-size: 12px;"> 赠币查询仅供参考，具体以官方为准。<br>按照地址 0xf86f28b92f9284d3b8792e2bdbcfda17aefc3609 发送（1:10）UGC 顺序计算</p>
            </div>
          </div>
        </div>
        <div class="subscribe" style=" padding-top: 10px;">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 input-group subscribe-box">
              <form class="subscribe-form" id="subscription-form">
                <div class="input-group">
                  <input class="form-control notify-me" id="subscriber-email" name="email" placeholder="请再这里粘贴钱包地址" required=""><span class="input-group-addon">
                        <input class="btn btn-default notify-me" id="subscribe-button" type="submit" value="查询赠币"></span>
                </div>
              </form>
              <div id="subscription-response"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!--
JavaScripts
=============================================
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.3.4/sweetalert2.all.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.3.4/sweetalert2.all.min.js"></script>

<script src="/js/main.js"></script>
</body>
</html>